[class~=upgrade-container] [class~=upgradeItemsButton] [class~=btn-group] [class~=buttonI]{
    border-left-width:.0625pc;
}
[class~=upgrade-container] [class~=loader] [class~=content]{
    padding-left:0;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button{
    width:2.65625in;
}
[class~=upgrade-container] [class~=loader] [class~=content]{
    padding-bottom:0;
}
[class~=upgrade-container] [class~=upgradeItemsButton] [class~=btn-group] [class~=buttonI]{
    border-bottom-width:.0625pc;
}
[class~=page]{
    margin-left:auto;
}
[class~=upgrade-container] [class~=upgradeItemsButton] [class~=btn-group] [class~=buttonI]{
    border-right-width:.0625pc;
}
[class~=upgrade-container] [class~=loader] [class~=content] i{
    font-size:.416666667in;
}
[class~=upgrade-container] [class~=loader],[class~=upgrade-container] [class~=loader] [class~=content]{
    width:100%;
}
[class~=upgrade-container] [class~=loader] [class~=content]{
    padding-right:0;
}
[class~=upgrade-container] [class~=loader] [class~=content]{
    padding-top:200px;
}
[class~=page]{
    margin-bottom:0;
}
[class~=page]{
    margin-right:auto;
}
[class~=upgrade-container] [class~=loader]{
    height:100%;
}
[class~=upgrade-container] [class~=loader],[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button,[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item] [class~=name],.upgrade-container .upgradeableItems,[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item] [class~=level],.upgrade-container .upgradeItemsButton,.upgrade-container .tipContainer,[class~=upgrade-container] [class~=loader] [class~=content]{
    position:absolute;
}
[class~=upgrade-container] [class~=loader]{
    background:rgba(0,0,0,.9);
}
[class~=page]{
    margin-top:0px;
}
[class~=upgrade-container] [class~=loader] [class~=content]{
    font-size:.208333333in;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item] [class~=img] img{
    width:.520833333in;
}
[class~=page],[class~=upgrade-container]{
    width:9.375in;
}
[class~=upgrade-container] [class~=upgradeItemsButton] [class~=btn-group] [class~=buttonI]{
    border-top-width:.0625pc;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button{
    height:5.3125pc;
}
[class~=upgrade-container] [class~=loader]{
    z-index:10;
}
[class~=upgradedItems] [class~=item] [class~=img] img{
    width:60px;
}
[class~=upgrade-container] [class~=loader],[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item] [class~=name]{
    text-align:center;
}
[class~=upgrade-container] [class~=loader]{
    display:none;
}
.upgrade-container .tipContainer{
    left:21.875pc;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]:hover{
    transform:scale(1.03);
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item] [class~=name],[class~=upgrade-container] [class~=loader] [class~=content]{
    color:#fff;
}
.upgrade-container .upgradeableItems .upgradeableItemsContainer .item .img,[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item] [class~=name]{
    width:.927083333in;
}
.upgrade-container .upgradeableItems .upgradeableItemsContainer .item .img{
    height:80px;
}
.upgrade-container .upgradeItemsButton,.upgrade-container .tipContainer{
    top:10px;
}
.upgrade-container .tipContainer,.upgrade-container .upgradeItemsButton{
    height:.375in;
}
.upgrade-container .tipContainer{
    color:yellow;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item] [class~=img] img,[class~=upgradedItems] [class~=item] [class~=img] img,.upgrade-container .upgradeableItems .upgradeableItemsContainer .item .img{
    vertical-align:baseline;
}
[class~=upgrade-container]{
    height:5.208333333in;
}
.upgrade-container .tipContainer{
    float:left;
}
[class~=upgrade-container] [class~=upgradeItemsButton] [class~=btn-group] [class~=buttonI]{
    border-left-style:solid;
}
[class~=upgrade-container] [class~=upgradeItemsButton] [class~=btn-group] [class~=buttonI]{
    border-bottom-style:solid;
}
.upgrade-container .tipContainer{
    font-size:11px;
}
[class~=upgrade-container],.upgrade-container .upgradeItemsButton,.upgrade-container .upgradeableItems,[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton]{
    background:#1d1d1d;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer],[class~=upgrade-container]{
    position:relative;
}
[class~=upgradedItems] [class~=item] [class~=img] img{
    height:.625in;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer]{
    left:.625pc;
}
[class~=upgrade-container] [class~=upgradeItemsButton] [class~=btn-group] [class~=buttonI]{
    border-right-style:solid;
}
.upgrade-container .upgradeItemsButton{
    left:8.25pt;
}
.noselect{
    -webkit-touch-callout:none;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item] [class~=name]{
    bottom:.072916667in;
}
[class~=upgrade-container] [class~=upgradeItemsButton] [class~=btn-group] [class~=buttonI]{
    border-top-style:solid;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button{
    border-radius:5.25pt;
}
.upgrade-container .upgradeableItems,.upgrade-container .upgradeItemsButton{
    width:320px;
}
.noselect{
    -webkit-user-select:none;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button{
    font-size:22.5pt;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item] [class~=img] img{
    height:50px;
}
[class~=upgrade-container] [class~=upgradeItemsButton] [class~=btn-group] [class~=buttonI],[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item] [class~=name],[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button{
    font-weight:bold;
}
[class~=upgrade-container] [class~=upgradeItemsButton] [class~=btn-group] [class~=buttonI]{
    border-left-color:black;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer]{
    top:.3125pc;
}
.upgrade-container .upgradeContainer .finishAllButton button{
    width:100%;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item] [class~=name]{
    line-height:.3125pc;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button{
    background-color:rgba(255,255,255,1);
}
[class~=upgrade-container] [class~=upgradeItemsButton] [class~=btn-group] [class~=buttonI]{
    border-bottom-color:black;
}
.upgrade-container .upgradeableItems{
    left:.104166667in;
}
.upgrade-container .upgradeableItems{
    top:50px;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer]{
    width:225pt;
}
[class~=upgrade-container] [class~=upgradeItemsButton] [class~=btn-group] [class~=buttonI]{
    border-right-color:black;
}
[class~=upgrade-container] [class~=upgradeItemsButton] [class~=btn-group] [class~=buttonI]{
    border-top-color:black;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer]{
    height:29.0625pc;
}
.upgrade-container .upgradeableItems{
    height:4.583333333in;
}
[class~=upgrade-container] [class~=upgradeItemsButton] [class~=btn-group] [class~=buttonI]{
    border-image:none;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton]{
    margin-left:-2px;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton]{
    margin-top:330px;
}
[class~=upgrade-container] [class~=upgradeItemsButton] [class~=btn-group] [class~=buttonI]{
    font-size:.098958333in;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item] [class~=level]{
    bottom:50.25pt;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton],.upgrade-container .upgradeableItems{
    background-color:rgba(150,150,150,1);
}
.upgrade-container .upgradeableItems,[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button,[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton],.upgrade-container .upgradeContainer .finishAllButton button{
    border-left-width:.125pc;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton],.upgrade-container .upgradeContainer .finishAllButton button,.upgrade-container .upgradeableItems,[class~=upgrade-container] [class~=upgradeContainer]{
    border-radius:.052083333in;
}
.upgrade-container .upgradeableItems,[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton],.upgrade-container .upgradeContainer .finishAllButton button,[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button{
    border-bottom-width:.125pc;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton],[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button,.upgrade-container .upgradeableItems{
    border-right-width:.125pc;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton],[class~=upgrade-container] [class~=upgradeContainer]{
    width:280px;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton]{
    height:1.114583333in;
}
.upgrade-container .upgradeableItems,[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton],[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button{
    border-top-width:.020833333in;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton],[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button,.upgrade-container .upgradeableItems{
    border-left-style:solid;
}
.upgrade-container .upgradeContainer .finishAllButton button{
    height:100%;
}
.upgrade-container .upgradeableItems,[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button{
    border-bottom-style:solid;
}
[class~=upgrade-container] [class~=upgradeContainer],[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton]{
    position:absolute;
}
.upgrade-container .upgradeableItems,[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button{
    border-right-style:solid;
}
[class~=upgrade-container] [class~=upgradeItemsButton] [class~=btn-group] [class~=buttonI]{
    font-color:black;
}
.upgrade-container .upgradeableItems,[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button{
    border-top-style:solid;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton],.upgrade-container .upgradeableItems{
    border-left-color:rgba(200,200,200,1);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton],.upgrade-container .upgradeableItems{
    border-bottom-color:rgba(200,200,200,1);
}
.upgrade-container .upgradeableItems,[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton]{
    border-right-color:rgba(200,200,200,1);
}
.noselect{
    -khtml-user-select:none;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton],.upgrade-container .upgradeableItems{
    border-top-color:rgba(200,200,200,1);
}
.upgrade-container .upgradeableItems{
    border-image:none;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item] [class~=level]{
    width:89px;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton],[class~=upgrade-container] [class~=upgradeContainer]{
    border-bottom-style:solid;
}
[class~=upgrade-container] [class~=upgradeContainer],[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton]{
    border-right-style:solid;
}
[class~=upgrade-container] [class~=upgradeItemsButton] [class~=btn-group] [class~=buttonI]{
    height:.364583333in;
}
.noselect{
    -moz-user-select:none;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button:hover{
    -webkit-transform:scale(1.03);
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    border-left-width:.75pt;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button:hover{
    -moz-transform:scale(1.03);
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item] [class~=level]{
    color:gold;
}
[class~=upgrade-container] [class~=upgradeContainer]{
    left:345px;
}
[class~=upgrade-container] [class~=upgradeContainer]{
    top:3.125pc;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    border-bottom-width:.75pt;
}
[class~=upgrade-container] [class~=upgradeContainer],[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton]{
    border-top-style:solid;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item] [class~=level]{
    text-align:center;
}
.noselect{
    -ms-user-select:none;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item] [class~=level]{
    line-height:.3125pc;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item] [class~=level]{
    font-weight:bold;
}
[class~=upgrade-container] [class~=upgradeContainer]{
    height:3.416666667in;
}
[class~=upgrade-container] [class~=upgradeContainer]{
    background:#1d1d1d;
}
[class~=upgrade-container] [class~=upgradeContainer]{
    background-color:rgba(150,150,150,1);
}
.noselect{
    user-select:none;
}
.upgrade-container .upgradeContainer .toUpgradeDetails .itemPreview .imageContainer{
    left:25px;
}
.upgrade-container .upgradeContainer .toUpgradeDetails .itemPreview .imageContainer{
    top:.260416667in;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview] [class~=itemname],.upgrade-container .upgradeContainer .itemChangeUpgrade .decreaseButton button,[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails],.upgrade-container .upgradeContainer .toUpgradeDetails .itemPreview .imageContainer{
    position:absolute;
}
[class~=upgrade-container] [class~=upgradeContainer]{
    border-left-width:.020833333in;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button{
    border-left-color:rgba(0,110,160,1);
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    border-right-width:.75pt;
}
[class~=upgrade-container] [class~=upgradeContainer]{
    border-bottom-width:.020833333in;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button{
    border-bottom-color:rgba(0,110,160,1);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button{
    border-right-color:rgba(0,110,160,1);
}
[class~=upgrade-container] [class~=upgradeContainer]{
    border-right-width:.020833333in;
}
[class~=upgrade-container] [class~=upgradeContainer]{
    border-top-width:.020833333in;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item],[class~=upgrade-container] [class~=upgradeContainer]{
    border-left-style:solid;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton]{
    border-image:none;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    border-top-width:.75pt;
}
[class~=upgradedItems]{
    top:22.5pt;
}
[class~=upgrade-container] [class~=upgradeContainer]{
    border-left-color:rgba(200,200,200,1);
}
.upgrade-container .upgradeContainer .toUpgradeDetails .itemPreview .imageContainer{
    width:1.041666667in;
}
[class~=upgrade-container] [class~=upgradeContainer]{
    border-bottom-color:rgba(200,200,200,1);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button{
    border-top-color:rgba(0,110,160,1);
}
.upgrade-container .upgradeContainer .toUpgradeDetails .itemPreview .imageContainer{
    height:1.041666667in;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails]{
    margin-left:.104166667in;
}
[class~=upgrade-container] [class~=upgradeContainer]{
    border-right-color:rgba(200,200,200,1);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails]{
    margin-top:.104166667in;
}
[class~=upgrade-container] [class~=upgradeContainer]{
    border-top-color:rgba(200,200,200,1);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button,[class~=upgrade-container] [class~=upgradeContainer]{
    border-image:none;
}
[class~=upgradedItems] [class~=items]{
}
[class~=upgradedItems] [class~=item]{
    border-left-width:.0625pc;
}
[class~=upgradedItems] [class~=item]{
    border-bottom-width:.0625pc;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails]{
    background-color:rgba(0,0,0,.2);
}
[class~=upgradedItems] [class~=item]{
    border-right-width:.0625pc;
}
[class~=upgradedItems] [class~=item]{
    border-top-width:.0625pc;
}
.upgrade-container .upgradeContainer .toUpgradeDetails .itemPreview .imageContainer{
    vertical-align:middle;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview] [class~=itemname]{
    margin-top:105px;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails]{
    width:250px;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails]{
    height:3.177083333in;
}
[class~=upgradedItems]{
    left:295px;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails]{
    border-left-width:.125pc;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails],[class~=upgradedItems] [class~=item],[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    border-bottom-style:solid;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails],[class~=upgradedItems] [class~=item]{
    border-left-style:solid;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button{
    text-shadow:0 0 .104166667in rgba(0,0,0,.5);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails]{
    border-bottom-width:.125pc;
}
[class~=upgradedItems]{
    width:15.3125pc;
}
[class~=upgradedItems] [class~=item],[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails],[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    border-right-style:solid;
}
[class~=upgradedItems] [class~=item],[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails],[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    border-top-style:solid;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails],.upgrade-container .upgradeContainer .finishAllButton button{
    border-right-width:.125pc;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item],[class~=upgradedItems] [class~=item]{
    border-left-color:rgba(255,255,255,.1);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button{
    transition:all .1s ease-in;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview] [class~=itemname]{
    width:108.75pt;
}
[class~=upgradedItems] [class~=item],[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    border-bottom-color:rgba(255,255,255,.1);
}
.upgrade-container .upgradeContainer .finishAllButton button,[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails]{
    border-top-width:.125pc;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item],[class~=upgradedItems] [class~=item]{
    border-right-color:rgba(255,255,255,.1);
}
[class~=upgradedItems] [class~=item],[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    border-top-color:rgba(255,255,255,.1);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview] [class~=itemname]{
    height:.3125in;
}
[class~=upgradedItems]{
    height:408px;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview] [class~=itemname]{
    color:white;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item],[class~=upgradedItems] [class~=item]{
    border-image:none;
}
.upgrade-container .upgradeContainer .itemChangeUpgrade .decreaseButton button{
    width:.416666667in;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview] [class~=itemname]{
    font-size:20px;
}
[class~=upgradedItems]{
    background:#1d1d1d;
}
[class~=upgradedItems],[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview] [class~=level],[class~=upgrade-container] [class~=upgradeContainer] [class~=itemChangeUpgrade] [class~=increaseButton] button,[class~=upgrade-container] [class~=upgradeContainer] [class~=itemChangeUpgrade] [class~=chance] input{
    position:absolute;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview] [class~=itemname]{
    font-weight:bold;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item],[class~=upgradedItems] [class~=item]{
    background-color:rgba(0,0,0,.1);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=itemChangeUpgrade] [class~=chance] input,.upgrade-container .upgradeContainer .itemChangeUpgrade .decreaseButton button{
    height:30pt;
}
[class~=upgradedItems],[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails],[class~=upgradedItems] [class~=item],[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    border-radius:.3125pc;
}
[class~=upgradedItems] [class~=item]{
    width:172.5pt;
}
[class~=upgradedItems] [class~=item],[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    height:.833333333in;
}
[class~=upgradedItems] [class~=item]{
    cursor:pointer;
}
[class~=upgradedItems] [class~=item]{
    display:inline-block;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails]{
    border-left-color:rgba(0,0,0,1);
}
[class~=upgradedItems]{
    background-color:rgba(150,150,150,1);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails]{
    border-bottom-color:rgba(0,0,0,1);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails]{
    border-right-color:rgba(0,0,0,1);
}
.upgrade-container .upgradeContainer .itemChangeUpgrade .decreaseButton button,[class~=upgrade-container] [class~=upgradeContainer] [class~=itemChangeUpgrade] [class~=chance] input{
    color:black;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item],[class~=upgradedItems] [class~=item]{
    position:relative;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview] [class~=itemname],[class~=upgrade-container] [class~=upgradeContainer] [class~=itemChangeUpgrade] [class~=chance] input,[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item],[class~=upgradedItems] [class~=item]{
    text-align:center;
}
[class~=upgradedItems],.upgrade-container .upgradeContainer .finishAllButton button{
    border-left-style:solid;
}
[class~=upgradedItems] [class~=item]{
    line-height:96pt;
}
[class~=upgradedItems]{
    border-left-width:.125pc;
}
[class~=upgradedItems] [class~=item]{
    vertical-align:top;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails]{
    border-top-color:rgba(0,0,0,1);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails]{
    border-image:none;
}
[class~=upgradedItems] [class~=item]{
    margin-left:5px;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview] [class~=level],[class~=upgradedItems] [class~=item]{
    margin-top:.052083333in;
}
[class~=upgradedItems] [class~=item]{
    margin-bottom:.3125pc;
}
[class~=upgradedItems] [class~=item]{
    box-shadow:0 0 .03125in .03125in rgba(0,0,0,.3);
}
[class~=upgradedItems]{
    border-bottom-width:.125pc;
}
.upgrade-container .upgradeContainer .itemDetails{
    margin-left:6pt;
}
.upgrade-container .upgradeContainer .itemDetails{
    margin-top:14.625pc;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=itemChangeUpgrade] [class~=chance] input{
    width:.729166667in;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button:hover{
    -ms-transform:scale(1.03);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=itemChangeUpgrade] [class~=chance] input{
    margin-left:.427083333in;
}
[class~=upgradedItems] [class~=item]{
    -moz-box-shadow:0 0 3px .1875pc rgba(0,0,0,.3);
}
[class~=upgradedItems] [class~=item]{
    -webkit-box-shadow:0 0 .03125in 2.25pt rgba(0,0,0,.3);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview] [class~=level]{
    width:145px;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    width:89px;
}
.upgrade-container .upgradeContainer .itemDetails{
    width:240px;
}
[class~=upgradedItems]{
    border-right-width:.125pc;
}
.upgrade-container .upgradeContainer .itemDetails{
    height:6.6875pc;
}
[class~=upgradedItems]{
    border-top-width:.125pc;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview] [class~=level]{
    height:.3125in;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview] [class~=level],.upgrade-container .upgradeContainer .itemDetails{
    color:white;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview] [class~=level]{
    color:gold;
}
.upgrade-container .upgradeContainer .itemDetails,[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview] [class~=level]{
    font-weight:bold;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    cursor:pointer;
}
[class~=upgradedItems] [class~=item]{
    -o-box-shadow:0 0 3px .03125in rgba(0,0,0,.3);
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    display:inline-block;
}
[class~=upgradedItems] [class~=finished]{
    border-left-width:.010416667in;
}
[class~=upgradedItems] [class~=finished]{
    border-bottom-width:.010416667in;
}
[class~=upgradedItems] [class~=finished],[class~=upgradedItems],.upgrade-container .upgradeContainer .finishAllButton button{
    border-bottom-style:solid;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=itemChangeUpgrade] [class~=increaseButton] button{
    width:.416666667in;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=itemChangeUpgrade],[class~=upgrade-container] [class~=upgradeContainer] [class~=itemChangeUpgrade] [class~=increaseButton] button{
    height:2.5pc;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=itemChangeUpgrade] [class~=increaseButton] button{
    margin-left:7pc;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=itemChangeUpgrade] [class~=increaseButton] button{
    color:black;
}
.upgrade-container .upgradeContainer .itemDetails{
    font-size:9.75pt;
}
.upgrade-container .upgradeContainer .finishAllButton button,[class~=upgradedItems],[class~=upgradedItems] [class~=finished]{
    border-right-style:solid;
}
[class~=upgradedItems] [class~=finished]{
    border-right-width:.010416667in;
}
.upgrade-container .upgradeContainer .itemDetails,[class~=upgrade-container] [class~=upgradeContainer] [class~=itemChangeUpgrade]{
    position:absolute;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    line-height:96pt;
}
[class~=upgradedItems] [class~=finished]{
    border-top-width:.010416667in;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    vertical-align:top;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    margin-left:5px;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    margin-top:.3125pc;
}
[class~=upgradedItems] [class~=finished]{
    border-left-style:solid;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    margin-bottom:5px;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    box-shadow:0 0 .03125in .1875pc rgba(0,0,0,.3);
}
[class~=upgradedItems] [class~=item] [class~=progress2] progress[value]{
    width:97.5pt;
}
.upgrade-container .upgradeContainer .finishAllButton button,[class~=upgradedItems] [class~=finished],[class~=upgradedItems]{
    border-top-style:solid;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button:hover{
    -o-transform:scale(1.03);
}
[class~=upgradedItems] [class~=finished]{
    border-left-color:rgba(0,200,255,.5);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview] [class~=level]{
    font-size:15pt;
}
[class~=upgradedItems],.upgrade-container .upgradeContainer .finishAllButton button{
    border-left-color:rgba(200,200,200,1);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview] [class~=level]{
    text-align:center;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=itemChangeUpgrade]{
    width:1.5625in;
}
[class~=upgradedItems] [class~=finished]{
    border-bottom-color:rgba(0,200,255,.5);
}
[class~=upgradedItems] [class~=finished]{
    border-right-color:rgba(0,200,255,.5);
}
[class~=upgradedItems] [class~=item] [class~=progress2] progress[value]{
    height:.3125in;
}
[class~=upgradedItems] [class~=item] [class~=progress2] progress[value]{
    -webkit-appearance:none;
}
[class~=upgradedItems] [class~=finished]{
    border-top-color:rgba(0,200,255,.5);
}
[class~=upgradedItems] [class~=item] [class~=progress2] progress[value]{
    appearance:none;
}
[class~=upgradedItems] [class~=finished]{
    border-image:none;
}
[class~=upgradedItems] [class~=item] [class~=progress2] progress[value]{
    border-radius:.03125in;
}
[class~=upgradedItems] [class~=item] [class~=progress2] progress[value]::-webkit-progress-bar{
    background-color:#eee;
}
[class~=upgradedItems] [class~=finished]{
    background-color:rgba(0,200,255,.2);
}
[class~=upgradedItems] [class~=item] [class~=progress2] progress[value]::-webkit-progress-bar{
    border-radius:1.5pt;
}
[class~=upgradedItems] [class~=finished]{
    transition:all .3s ease-in;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    -moz-box-shadow:0 0 3px .1875pc rgba(0,0,0,.3);
}
[class~=upgradedItems] [class~=finished]{
    box-shadow:0 0 2.25pt 3px rgba(0,200,255,.2);
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    -webkit-box-shadow:0 0 .1875pc 2.25pt rgba(0,0,0,.3);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=itemChangeUpgrade]{
    background-color:black;
}
[class~=upgrade-container] [class~=upgradeableItems] [class~=upgradeableItemsContainer] [class~=item]{
    -o-box-shadow:0 0 2.25pt .1875pc rgba(0,0,0,.3);
}
.upgrade-container .upgradeContainer .finishAllButton button,[class~=upgradedItems]{
    border-bottom-color:rgba(200,200,200,1);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer]{
    margin-left:.104166667in;
}
[class~=upgradedItems] [class~=finished]{
    -moz-box-shadow:0 0 3px 3px rgba(0,200,255,.2);
}
[class~=upgradedItems] [class~=item] [class~=progress2] progress[value]::-webkit-progress-bar{
    border-radius:.03125in;
}
[class~=upgradedItems],.upgrade-container .upgradeContainer .finishAllButton button{
    border-right-color:rgba(200,200,200,1);
}
.upgrade-container .upgradeContainer .finishAllButton button,[class~=upgradedItems]{
    border-top-color:rgba(200,200,200,1);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer]{
    margin-top:.104166667in;
}
[class~=upgradedItems] [class~=finished]{
    -webkit-box-shadow:0 0 .03125in .03125in rgba(0,200,255,.2);
}
[class~=upgradedItems] [class~=item] [class~=progress2] progress[value]::-webkit-progress-bar{
    box-shadow:0 .020833333in .3125pc rgba(0,0,0,1) inset;
}
[class~=upgradedItems],.upgrade-container .upgradeContainer .finishAllButton button{
    border-image:none;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=itemChangeUpgrade]{
    top:-3.4375pc;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer]{
    width:280px;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=itemChangeUpgrade]{
    left:43px;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer]{
    height:80.25pt;
}
.upgradedItems .item .progress2 progress[value]::-webkit-progress-value{
    background-color:green;
}
[class~=upgradedItems] [class~=finished]{
    -o-box-shadow:0 0 3px .03125in rgba(0,200,255,.2);
}
[class~=upgradedItems] [class~=finished]:hover{
    -webkit-transform:scale(1.01);
}
[class~=upgradedItems] [class~=success]{
    border-left-width:.010416667in;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer],[class~=upgradedItems] [class~=item] [class~=lvlToUpgrade],[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview],[class~=upgradedItems] [class~=item] [class~=name]{
    position:absolute;
}
[class~=upgradedItems] [class~=success]{
    border-bottom-width:.010416667in;
}
[class~=upgradedItems] [class~=finished]:hover{
    -moz-transform:scale(1.01);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer]{
    color:black;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview]{
    left:3.125pc;
}
[class~=upgradedItems] [class~=success]{
    border-right-width:.010416667in;
}
[class~=upgradedItems] [class~=finished]:hover{
    -ms-transform:scale(1.01);
}
.upgradedItems .item .progress2 progress[value]::-webkit-progress-value{
    border-radius:.1875pc;
}
[class~=upgradedItems] [class~=success]{
    border-top-width:.010416667in;
}
[class~=upgradedItems] [class~=finished]:hover{
    -o-transform:scale(1.01);
}
[class~=upgradedItems] [class~=finished]:hover{
    transform:scale(1.01);
}
[class~=upgradedItems] [class~=item] [class~=img]{
    width:60pt;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview]{
    top:15pt;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview],[class~=upgradedItems] [class~=success]{
    border-left-style:solid;
}
[class~=upgradedItems] [class~=item] [class~=img]{
    height:.833333333in;
}
[class~=upgradedItems] [class~=item] [class~=img]{
    vertical-align:baseline;
}
.upgradedItems .item .progress2 progress[value]::-webkit-progress-value{
    height:.3125in;
}
.upgradedItems .item .progress2 progress[value]::-webkit-progress-value{
    background-size:2.1875pc 20px,100% 100%,100% 100%;
}
.upgradedItems .item .progress2 progress[value]::-webkit-progress-value{
    transition:all .4s ease-in;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview],[class~=upgradedItems] [class~=success]{
    border-bottom-style:solid;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview]{
    width:1.5625in;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview],[class~=upgradedItems] [class~=success]{
    border-right-style:solid;
}
[class~=upgradedItems] [class~=item] [class~=name]{
    bottom:7px;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview],[class~=upgradedItems] [class~=success]{
    border-top-style:solid;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview]{
    height:112.5pt;
}
[class~=upgradedItems] [class~=success]{
    border-left-color:rgba(0,255,20,.5);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview]{
    background-color:rgba(0,0,0,.2);
}
[class~=upgradedItems] [class~=success]{
    border-bottom-color:rgba(0,255,20,.5);
}
[class~=upgradedItems] [class~=success]{
    border-right-color:rgba(0,255,20,.5);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview]{
    border-left-width:.020833333in;
}
[class~=upgradedItems] [class~=success]{
    border-top-color:rgba(0,255,20,.5);
}
[class~=upgradedItems] [class~=success]{
    border-image:none;
}
[class~=upgradedItems] [class~=success]{
    background-color:rgba(0,255,20,.2);
}
[class~=upgradedItems] [class~=success]{
    -webkit-box-shadow:0 0 .1875pc .1875pc rgba(0,255,20,.2);
}
[class~=upgradedItems] [class~=failed],[class~=upgradedItems] [class~=success]{
    transition:all .3s ease-in;
}
[class~=upgradedItems] [class~=item] [class~=name]{
    width:66.75pt;
}
[class~=upgradedItems] [class~=failed]{
    border-left-width:.010416667in;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview]{
    border-bottom-width:.020833333in;
}
[class~=upgradedItems] [class~=item] [class~=name]{
    color:#fff;
}
[class~=upgradedItems] [class~=failed]{
    border-bottom-width:.010416667in;
}
[class~=upgradedItems] [class~=item] [class~=lvlToUpgrade],[class~=upgradedItems] [class~=item] [class~=name]{
    text-align:center;
}
[class~=upgradedItems] [class~=failed]{
    border-right-width:.010416667in;
}
[class~=upgradedItems] [class~=failed]{
    border-top-width:.010416667in;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview]{
    border-right-width:.020833333in;
}
[class~=upgradedItems] [class~=failed]{
    border-left-style:solid;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview]{
    border-top-width:.020833333in;
}
[class~=upgradedItems] [class~=item] [class~=name]{
    line-height:.3125pc;
}
[class~=upgradedItems] [class~=failed]{
    border-bottom-style:solid;
}
[class~=upgradedItems] [class~=failed]{
    border-right-style:solid;
}
[class~=upgradedItems] [class~=item] [class~=lvlToUpgrade],[class~=upgradedItems] [class~=item] [class~=name]{
    font-weight:bold;
}
[class~=upgradedItems] [class~=failed]{
    border-top-style:solid;
}
[class~=upgradedItems] [class~=failed]{
    border-left-color:rgba(255,0,20,.5);
}
[class~=upgradedItems] [class~=failed]{
    border-bottom-color:rgba(255,0,20,.5);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview]{
    border-left-color:rgba(0,0,0,1);
}
[class~=upgradedItems] [class~=failed]{
    border-right-color:rgba(255,0,20,.5);
}
[class~=upgradedItems] [class~=failed]{
    border-top-color:rgba(255,0,20,.5);
}
[class~=upgradedItems] [class~=failed]{
    border-image:none;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=upgradeButton] [class~=buttonContainer] button:hover{
    transform:scale(1.03);
}
[class~=upgradedItems] [class~=item] [class~=lvlToUpgrade]{
    top:.9375pc;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview]{
    border-bottom-color:rgba(0,0,0,1);
}
[class~=upgradedItems] [class~=failed]{
    background-color:rgba(255,0,20,.2);
}
[class~=upgradedItems] [class~=item] [class~=lvlToUpgrade]{
    bottom:0pt;
}
[class~=upgradedItems] [class~=failed]{
    -webkit-box-shadow:0 0 3px 3px rgba(255,0,20,.1);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview]{
    border-right-color:rgba(0,0,0,1);
}
[class~=upgradedItems] [class~=item] [class~=lvlToUpgrade]{
    left:90px;
}
[class~=upgradedItems] [class~=item] [class~=lvlToUpgrade]{
    width:97.5pt;
}
[class~=upgradedItems] [class~=item] [class~=lvlToUpgrade]{
    height:20px;
}
[class~=upgradedItems] [class~=item] [class~=lvlToUpgrade]{
    font-size:1.25pc;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview]{
    border-top-color:rgba(0,0,0,1);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview]{
    border-image:none;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview]{
    border-radius:.052083333in;
}
[class~=upgradedItems] [class~=item] [class~=lvlToUpgrade]{
    line-height:.208333333in;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview]{
    box-shadow:0 0 2.25pt .1875pc rgba(150,0,255,.3);
}
[class~=upgradedItems] [class~=item] [class~=lvlToUpgrade]{
    color:gold;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview]{
    -moz-box-shadow:0 0 2.25pt 2.25pt rgba(150,0,255,.3);
}
.upgradedItems .item .progress2,.upgrade-container .upgradeContainer .finishAllButton{
    position:absolute;
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview]{
    -webkit-box-shadow:0 0 .052083333in .3125pc rgba(0,0,0,.2);
}
[class~=upgrade-container] [class~=upgradeContainer] [class~=toUpgradeDetails] [class~=itemPreview]{
    -o-box-shadow:0 0 3px 2.25pt rgba(150,0,255,.3);
}
.upgradedItems .item .progress2{
    margin-top:-4.6875pc;
}
.upgradedItems .item .progress2{
    margin-left:.9375in;
}
.upgradedItems .item .progress2{
    height:40px;
}
.upgrade-container .upgradeContainer .finishAllButton{
    left:221.25pt;
}
.upgrade-container .upgradeContainer .finishAllButton{
    top:-.1875pc;
}
.upgrade-container .upgradeContainer .finishAllButton{
    width:245px;
}
.upgrade-container .upgradeContainer .finishAllButton{
    height:25px;
}
