.superbonus, .whatis {
    background: rgba(34,165,207,0.2);
    padding: 0 5px;
    border-radius: 5px;
}
.superbonus:hover, .whatis:hover {
    background: rgba(34,165,207,0.1);
}
.superbonus {
    display: inline-block;
    padding: 10px;
    margin-bottom: 10px;
  animation: superbonus 2000ms infinite linear;
}
.superbonus img {
    width: 35px;
    float: left;
}
.superbonus-info {
    display: block;
    position: absolute;
    background: #fff;
    padding: 30px;
    width: 600px;
    top: 15%;
    left: 50%;
    margin-left: -300px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    z-index: 999999;
    text-align: center;
    display: none;
} 
.megabig {
    font-size: 150px;
    font-weight: 800;
    color: #22a5cf;
    margin-bottom: 0;
    margin-top: 30px;
    line-height: 0.8;
}
.whatis-info {
    display: block;
    position: fixed;
    background: #fff;
    padding: 30px;
    width: 600px;
    bottom: 50%;
    right: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
    display: none;
    text-align: center;
}
.superbonus-info a, .whatis-info a {
    text-decoration: underline;
    color: #22a5cf;
}
.superbonus-info a:hover, .whatis-info a:hover {
    text-decoration: none;
}
.miniblue {   font-size: 24px;
    font-weight: 900;
    color: rgba(34,165,207,1);
    margin: 0;
    padding: 0;
    line-height: 1;
    text-transform: uppercase;
}
.miniwindow {
    top: 20px;
    left: 20px;
    z-index: 101;
    position: fixed;
    width: 300px;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    animation: minanim 2s ease-in-out infinite both;
}
@media (max-width: 1279px) {
  .whatis-info {
        width: 320px;
    }
}
@media (max-width: 979px) {
    .miniwindow { display: none; }
    .inner-content.server .opis .item.b4, .inner-content.server .opis .item.b6 {
        width: 50%;
        border: none;
    }
     .inner-content.server .opis .item.b2, .inner-content.server .opis .item.b3 {
        width: 100%;
        border: none;
    }
  .whatis-info {
        width: 600px;
        right: 50%;
        margin-right: -300px;
    }
}
.miniwindow2 {
    top: 20px;
    right: 20px;
    z-index: 101;
    position: fixed;
    width: 300px;
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    animation: minanim 2s ease-in-out infinite both;
}
@media (max-width: 1279px) {
  .whatis-info {
        width: 320px;
    }
}
@media (max-width: 979px) {
    .miniwindow2 { display: none; }
    .inner-content.server .opis .item.b4, .inner-content.server .opis .item.b6 {
        width: 50%;
        border: none;
    }
     .inner-content.server .opis .item.b2, .inner-content.server .opis .item.b3 {
        width: 100%;
        border: none;
    }
  .whatis-info {
        width: 600px;
        right: 50%;
        margin-right: -300px;
    }
}
@keyframes superbonus {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
  }
 99% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes minanim { 
    50% { transform: translateY(-10px); opacity: 0.7; } 
}

#google_translate_element2 {
    display: none;
}


.download-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.95);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
.download-overlay:after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 5%;
    width: 120px;
    height: 120px;
    background: url('../images/download-arrow-ico.png') center center no-repeat;
    background-size: cover;
    content: '';
}
.download-overlay a.close {
    width: 40px;
    height: 40px;
    top: 20px;
    right: 20px;
    left: auto;
    position: absolute;
    z-index: 10000;
}
.download-overlay a.close:before, .download-overlay a.close:after {
    background: #fff;
}
.download-overlay div {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    top: 30%;
}
.download-overlay div img {
    width: 150px;
}